#PlaneticketPrice {
    border: 1px solid black;
    padding: 0;
    /* Remove padding */
    margin: 0;
    /* Remove margin */
    float: right;
    /* Add this line */
    background-color: white;
    color: black;
}


.TicketPrice:hover {
    background-color: rgb(75, 73, 73);
}