#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app-header {
  background-color: #f0f0f0;
  padding: 10px;
}

.app-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  width: 760px;
  /* Set a fixed height */
}

.app-title {
  color: #333;
}

.nav-link {
  margin-right: 15px;
  text-decoration: none;
  color: #555;
}

.app-main {
  padding: 20px;
}